# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workFolder\学习笔记\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
